In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings(action='ignore')

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/vaasu2002/Machine-Learning-Projects/main/Titanic%20-%20Machine%20Learning%20from%20Disaster/Titanic_dataset.csv')
df.head()

   Unnamed: 0  PassengerId  Survived  Pclass  ...  SibSp  Parch     Fare  Embarked
0           0            1         0       3  ...      1      0   7.2500         2
1           1            2         1       1  ...      1      0  71.2833         0
2           2            3         1       3  ...      0      0   7.9250         2
3           3            4         1       1  ...      1      0  53.1000         2
4           4            5         0       3  ...      0      0   8.0500         2

[5 rows x 10 columns]

In [3]:
del df['Unnamed: 0']
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         2
1            2         1       1    1  38.0      1      0  71.2833         0
2            3         1       3    1  26.0      0      0   7.9250         2
3            4         1       1    1  35.0      1      0  53.1000         2
4            5         0       3    0  35.0      0      0   8.0500         2

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('Survived',axis=1), 
                                                    df['Survived'], test_size=0.3, 
                                                    random_state=94)
#Using LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {(accuracy_score(Y_test,Y_pred))*100} %")

Accuracy Score: 83.14606741573034 %

In [5]:
#Using Support Vector
from sklearn.svm import SVC
model1 = SVC()
model1.fit(X_train,Y_train)

pred_y = model1.predict(X_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {(accuracy_score(Y_test,pred_y))*100} %")

Accuracy Score: 62.546816479400746 %

In [6]:
#Using KNN Neighbors
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(X_train,Y_train)
y_pred2 = model2.predict(X_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {(accuracy_score(Y_test,y_pred2))*100} %")

Accuracy Score: 60.67415730337079 %

In [7]:
#Using Naive Bayes
from sklearn.naive_bayes import GaussianNB
model3 = GaussianNB()
model3.fit(X_train,Y_train)
y_pred3 = model3.predict(X_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {(accuracy_score(Y_test,y_pred3))*100} %")

Accuracy Score: 83.14606741573034 %

In [8]:
#Using Decision Tree
from sklearn.tree import DecisionTreeClassifier
model4 = DecisionTreeClassifier(criterion='entropy',random_state=7)
model4.fit(X_train,Y_train)
y_pred4 = model4.predict(X_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {(accuracy_score(Y_test,y_pred4))*100} %")

Accuracy Score: 72.28464419475655 %

In [9]:
results = pd.DataFrame({
    'Model / Algorithm': ['Logistic Regression','Support Vector Machines', 'Naive Bayes','KNN' ,'Decision Tree'],
    'Score(accuracy)': [83.14,62.54,83.14,60.67,72.28]})

result_df = results.sort_values(by='Score(accuracy)', ascending=False)
result_df = result_df.set_index('Score(accuracy)')
result_df.head(9)

                       Model / Algorithm
Score(accuracy)
83.14                Logistic Regression
83.14                        Naive Bayes
72.28                      Decision Tree
62.54            Support Vector Machines
60.67                                KNN


```Best Algorithm / model are: - Logistic Regression and Naive Bayes ```